<div class="schedule-widget">
  <h3 class="heading">My schedule</h3>
  <div class="schedule-widget__toggle">
    <button
      class="toggle"
      type="button"
      *ngIf="hideable"
      (click)="toggle()"
    >
      <span *ngIf="!hide; else showContentLabel">&#9473;</span>
    </button>
  </div>
  <ul class="schedule-widget__content schedule" *ngIf="!hide; else noContent">
    <li class="schedule__item" *ngFor="let item of schedule; let i = index">
      {{ i+1 }}. {{ item.value }}
    </li>
  </ul>
</div>

<ng-template #showContentLabel>
  &#43;
</ng-template>

<ng-template #noContent>
  <div class="caption">Your schedule is hidden here </div>
</ng-template>
