<div class="widget">
  <h3 class="heading">My services</h3>
  <div class="widget__toggle">
    <button
      class="toggle"
      type="button"
      *ngIf="hideable"
      (click)="toggle()"
    >
      <span *ngIf="!hide; else showContentLabel">&#9473;</span>
    </button>
  </div>
  <ul class="widget__content services" *ngIf="!hide; else noContent">
    <li class="services__item" *ngFor="let item of list">{{ item }}</li>
  </ul>
</div>

<ng-template #showContentLabel>
  &#43;
</ng-template>

<ng-template #noContent>
  <div class="caption">Your services is hidden here </div>
</ng-template>
